body, header, footer, h1, p, ul, li
  margin: 0
  padding: 0
  line-height: 1.0
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

html
  font-size: 62.5%

body
  font-size: 1.5rem
  background: #111
  color: #FFF

h1
  font-weight: normal

img
  position: absolute
  top: 0px
  left: 0px
  z-index: -1
  display: block
  height: 960px

header.site-header
  padding: 1rem 2rem

  h1
    font-size: 2.4rem

footer.site-footer
  position: absolute
  bottom: 2rem
  right: 2rem

ul.organisms
  display: grid
  grid-template-columns: 500px 500px
  grid-column-gap: 2rem
  padding: 2rem

  li
    display: grid
    grid-template-rows: auto auto auto
    list-style: none

    & > h1
      grid-row: 2
      padding: 2rem 0 1rem
      font-size: 2rem

    & > p
      grid-row: 3

    svg
      background: #000


svg.closterium
  .cell-wall
    stroke-width: 0.5
    fill: hsla(110, 100%, 100%, 0.1)
    stroke: hsla(110, 40%, 90%, 0.7)

  .pyrenoid
    fill: hsla(120, 100%, 60%, 0.4)
    stroke: hsla(120, 100%, 5%, 0.5)

svg.volvox
  .parent
    stroke-width: 0.5
    fill: hsla(120, 100%, 80%, 0.2)
    stroke: hsla(120, 100%, 80%, 0.5)

  .child
    stroke-width: 0.5
    fill: hsla(120, 100%, 60%, 0.3)
    stroke: hsla(120, 100%, 80%, 0.5)
